#user_data {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse:border-collapase;
    width:70%;
}
#user_data td, #user_data th {
    border:1px solid #ddd;
    padding:8px;
}

#user_data tr:nth-child(even){background-color: #f2f2f2;}

#user_data tr:hover {background-color: #ddd;}

#uder_data th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}